@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);


#time {
    text-align: center;
    font-family: 'Covered By Your Grace', cursive;
    margin: auto;
    background-color: rgb(235, 200, 104);
}

#heure {

color:cornflowerblue
}

#minutes {
color:rgb(171, 247, 247)

}
 #secondes{
color:rgb(67, 148, 148)
 }
 p {
    
        display: inline-block;
        line-height: 1;
        padding: 20px;
        font-size: 200px;   
 }
