@font-face {
    font-family: BreadleySans;
    src: url(fonts/BreadleySans-Regular.ttf);
}
body{
    background: no-repeat url(image/backchicartgo.png);
    /*background-color: black;*/
    color:antiquewhite;
    background-size:cover;
}

#title{
    font-size: 70px;
    font-family: BreadleySans;
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top: 0px;
}

#image{
    width: 50%;
    height: 80vh;
    margin-left: 11%;
    margin-top: 7%;
    background-size: contain;
    background-repeat: no-repeat;
}


.flexbox {
    display: flex;
    align-items: center;
    gap: 30px;
}

#info{
    margin-top: -10vh;
    margin-right: 2%;
    font-family: BreadleySans;
    font-size: 20px;
}

#logo img{
    position:fixed;
    width: 150px;
}

#bouton{
    background-color: black;
    border:none;
    background-repeat: no-repeat;
    display:block;
    margin:auto;
}

#bouton img{
    width:20vh;
}

audio {
    margin-top: 30px;
    margin-left: 50px;
}

/*MENU*/
#burger-menu {
	 cursor: pointer;
	 height: 27px;
	 width: 27px;
	 /*margin-left: 0;*/
	 overflow: visible;
	 position: absolute;
     right: 30px;
     top: 20px;
	 z-index: 2;
}
 #burger-menu span, #burger-menu span:before, #burger-menu span:after {
	 background: #fff;
	 display: block;
	 height: 2px;
	 opacity: 1;
	 position: absolute;
	 transition: 0.3s ease-in-out;
}
 #burger-menu span:before, #burger-menu span:after {
	 content: "";
}
 #burger-menu span:before {
	 left: 0px;
	 top: -10px;
	 width: 27px;
}
 #burger-menu span {
	 right: 0px;
	 top: 13px;
	 width: 27px;
}
 #burger-menu span:after {
	 left: 0px;
	 top: 10px;
	 width: 27px;
}
 #burger-menu.close span:before {
	 top: 0px;
	 transform: rotate(90deg);
	 width: 27px;
}
 #burger-menu.close span {
	 transform: rotate(-45deg);
	 top: 13px;
	 width: 27px;
}
 #burger-menu.close span:after {
	 top: 0px;
	 left: 0;
	 transform: rotate(90deg);
	 opacity: 0;
	 width: 0;
}
 #menu {
	 z-index: 1;
	 min-width: 100%;
	 min-height: 100%;
	 position: fixed;
	 top: 0;
	 height: 0;
	 visibility: hidden;
	 opacity: 0;
	 text-align: center;
	 padding-top: 20px;
	 transition: all 0.3s ease-in-out;
}
 #menu.overlay {
	 visibility: visible;
	 opacity: 1;
	 padding-top: 100px;
	 background: rgba(0, 0, 0, 0.5);
}
 #menu ul {
	 padding: 0;
}
 #menu li {
	 list-style: none;
}
 #menu a {
	 color: #fff;
	 display: block;
	 font-size: 32px;
	 margin-bottom: 30px;
	 text-decoration: none;
}
 