@font-face {
    font-family: BreadleySans;
    src: url(fonts/BreadleySans-Regular.ttf);
}

@media(max-width: 800px){
    .flexbox{
        flex-direction:column;
    }
}
body{
    background: no-repeat url(image/backchicartgo.png);
    /*background-color: black;*/
    color:rgb(15, 15, 14);
    background-size:cover;
}

#title{
    font-size: 70px;
    font-family: BreadleySans;
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top: 0px;
}

#image{
    width: 50%;
    height: 80vh;
    margin-left: 11%;
    margin-top: 7%;
    background-size: contain;
    background-repeat: no-repeat;
}


.flexbox {
    display: flex;
    align-items: center;
    gap: 30px;
}

#info{
    color:antiquewhite;
    margin-top: -10vh;
    margin-right: 2%;
    font-family: BreadleySans;
    font-size: 20px;
}

#logo img{

    width: 180px;
}

#bouton{
    background-color: black;
    border:none;
    background-repeat: no-repeat;
    display:block;
    margin:auto;
}

#bouton img{
    width:20vh;
}

